{% extends 'base.html' %} {% load static %} {% block content %}
<div class="hero-section">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col" id="hero-intro">
      <h2 id="hero-headline">Master Your <br />Skincare Routine</h2>
      <br />
      <h3>Your personalized tool to <br />track and perfect your skincare.</h3>
      <br />
      <a href="{% url 'signup' %}" class="btn btn-lg">Get Started</a>
    </div>
    <div class="col d-flex justify-content-center">
      <img
        src="{% static 'images/hero-preview.png' %}"
        alt="iphone"
        id="hero-img"
        class="img-fluid"
      />
    </div>
  </div>
</div>
{% endblock %}
