{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Your Routines</h1>
  <br /><br />

  <div class="row justify-content-center">
    {% for routine in routines %}
    <div class="col-sm-2">
      <div class="card rounded-circle">
        <div class="card-body">
          <a href="{% url 'detail' routine.id %}">
            <div class="card-body text-center">
              <h5 class="card-title">{{ routine.name }}</h5>
              <p class="card-text">{{ routine.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
