body {
    font-family: 'Roboto Slab', serif;
}

.navbar-brand {
  font-family: 'Raleway Dots', sans-serif;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #A6727C;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #734C61;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

nav, footer {
  background-color: #4A4659;
  color: white;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover, .navbar-brand:hover {
  color: #A6727C
}

.dropdown-item:active {
  background-color: white;
  color: #A6727C
}

.hero-section {
  background-image: url("../images/hero-section.png");
  background-size: cover;
  background-position: center;
  background-color: #734C61;
  padding-top: 3rem;
  padding-bottom: 5.6rem;
}

#hero-headline {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 6rem;
}

#hero-intro {
  margin-left: 6rem;
}

#hero-img {
  width: 40vmin;
}

.btn-lg {
  background-color: #A6727C;
  color: white;
}

